* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder {
  color: white;
  opacity: 1;
}

.App {
  height: 100vh;
  width: 100%;
  background: url('./images/mobile-day-clear.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: rgba(0,0,0,.2);
  color: white;
}

.header-text {
  top: 0vh;
  position: relative;
  font-size: 8vw;
  transition: all .2s ease-in-out;
}

.header-text-small {
  font-size: 6vw;
  top: -4vh;
}

.search {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in-out;
}

.search-to-top {
  top: 10vh;
}

.input-container {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-input {
  border-radius: 50px;
  border: 3px solid white;
  font-size: 7vw;
  background-color: rgba(0,0,0,.1);
  padding: 10px;
  text-align: center;
  outline: none;
  color: white;
}

.current-weather-container {
  display: none;
  color: white;
  width: 100%;
  opacity: 0;
  transition: all 4s ease-in-out;
  flex: 1;
}

.current-weather-container h2, .feels-like, .weather-wind, .weather-desc {
  text-align: center;
}

.show-current-weather-container {
  display: block;
  opacity: 1;
}

.city-state {
  margin: 0 auto;
  font-size: 3vw;
}

.weather-container-inside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6vw 0;
}

.weather-icon {
  flex: 1;
}

.weather-icon img {
  display: block;
  width: 25vw;
  height: 100%;
}

.weather-temp {
  font-size: 25vw;
  flex: 2;
  text-align: center;
}

.weather-wind {
  flex: 1;
  font-size: 5vw;
}

.forecast-container {
  display: none;
  opacity: 0;
  width: 100%;
  transition: opacity 1s ease-in-out;
  margin-top: 5vw;
  flex: 1;
}

.show-forecast-container {
  display: block;
  opacity: 1;
}

.day-container {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,.2);
  margin: 1vw;
}

.day-of-week {
  flex: 1;
  margin-left: 2vw;
}

.month-day {
  flex: 3;
}

.day-img {
  flex: 1;
  width: 10vw;
  height: 100%;
}

.forecast-temp {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 5.5vw;
}

@media (min-width: 800px) {

  .app-header {
    justify-content: flex-start;
    align-items: none;
  }

  .search-to-top {
    top: 8vh;
    left: 10px;
    transform: none;
  }

  .header-text {
    left: 20px;
    font-size: 4vw;
  }

  .header-text-small {
    font-size: 3vw;
  }

  .user-input {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {

}