* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder {
  color: white;
  opacity: 1;
}

.App {
  height: 100vh;
  width: 100%;
  background: url('./images/mobile-day-clear.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: rgba(0,0,0,.2);
  color: white;
}

.header-text {
  top: 0vh;
  position: relative;
  font-size: 8vw;
  transition: all .2s ease-in-out;
}

.header-text-small {
  font-size: 6vw;
  top: -5vh;
}

.search {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transition: top .2s ease-in-out;
}

.search-to-top {
  top: 10vh;
}

.input-container {
  height: 10vh;
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-input {
  border-radius: 50px;
  border: 3px solid white;
  font-size: 7vw;
  background-color: rgba(0,0,0,.1);
  padding: 10px;
  text-align: center;
  outline: none;
  color: white;
}

.current-weather-container {
  color: white;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.current-weather-container h2, .feels-like, .weather-wind {
  text-align: center;
}

.show-current-weather-container {
  opacity: 1;
}

.city-state {
  margin: 0 auto;
  font-size: 3vw;
}

.weather-container-inside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10vw;
}

.weather-icon {
  flex: 1;
}

.weather-icon img {
  display: block;
  width: 20vw;
  height: 100%;
}

.weather-temp {
  font-size: 25vw;
  flex: 2;
  text-align: center;
}

.weather-wind {
  flex: 1;
  font-size: 6vw;
}