* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.current-weather-container {
  display: none;
  color: white;
  opacity: 0;
  transition: all 4s ease-in-out;
}

.current-weather-container h2, .feels-like, .weather-wind, .weather-desc {
  text-align: center;
}

.show-current-weather-container {
  display: block;
  opacity: 1;
}

.city-state {
  margin: 0 auto;
  font-size: 16px;
}

.weather-container-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
}

.weather-icon img {
  display: block;
}

.weather-temp {
  font-size: 5rem;
  flex: 2;
  text-align: center;
}

.weather-wind, .weather-desc {
  flex: 1;
  font-size: 1.25rem;
}

.forecast-container {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: 0.625rem;
}

.show-forecast-container {
  display: block;
  opacity: 1;
}

.day-container {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,.5);
  margin: 0.3125rem 0;
  width: 100%;
  padding: 0.3125rem;
}

.day-of-week {
  flex: 1;
  margin-left: 0.9375rem;
}

.month-day {
  flex: 3;
}

.day-img {
  flex: 1;
  width: 50%;
}

.forecast-temp {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 2.1875rem;
  padding-left: 0.9375rem;
}

@media (min-width: 800px) {

  .app-header {
    justify-content: flex-start;
    align-items: none;
  }

  .search-to-top {
    top: 2vh;
    left: 10px;
    transform: none;
  }

  .header-text {
    left: 20px;
    font-size: 4vw;
  }

  .header-text-small {
    font-size: 3vw;
  }

  .user-input {
    font-size: 2vw;
  }

  .city-state {
    margin: 0 auto;
    font-size: 1.5vw;
  }

  .weather-container-inside {
    justify-content: flex-start;
  }

  .weather-container-inside > div {
    padding: 0.625rem;
  }

  .current-weather-container h2 {
    text-align: left;
    margin-left: 0.3125rem;
  }

  .weather-temp {
    flex: none;
  }

  .weather-wind, .weather-desc {
    flex: none;
    font-size: 1.25rem;
  }

  .forecast-container {
    display: flex;
  }

  .day-container {
    flex-direction: column;
    margin: 0.3125rem;
    border-radius: 0.625rem;
  }

  .day-of-week {
    margin-left: 0;
    font-size: 2.5rem;
  }

  .month-day {
    font-size: 1.5rem;
  }

  .feels-like {
    text-align: left;
    padding-left: 1.25rem;
  }

  .day-img {
    height: 100%;
  }

}

@media (min-width: 1200px) {

}